<html>
    <head>
        <title>InSane</title>
        <link rel="stylesheet" href="https://unpkg.com/chota@latest">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script>
        function getPreviewBox() {
            return document.getElementById('preview-box');
        }
        function getButton() {
            return document.getElementById('start-a-scan-job-button');
        }
        function restoreButton() {
            const el = getButton();
            el.textContent = initialButtonTextContent; el.disabled = false;
        }
        function checkForCurrentlyRunningScanJobStatus() {
            console.log('Monitoring for currently running scan job on the server');
            setTimeout(function () {
                fetch(`scan`, {method: 'GET'}).then(
                    (raw) => {
                        return raw.json();
                    }
                ).then(
                    (data) => {
                        const { finished, error, why, state } = data;
                        if (!finished) {
                            const el = getButton();
                            el.textContent = state;
                            checkForCurrentlyRunningScanJobStatus();
                        } else {
                            if (error) {
                                alert(`A scan job has been finished with an error. ${why}`);
                                const el = getButton();
                                el.disabled = false;
                                el.textContent = `Scan job failed because ${why}. Try once again.`;
                                console.log('Stopped monitoring for a currently running scan job');
                            } else {
                                restoreButton();
                                const el = getPreviewBox();
                                el.innerHTML = '<img src="/preview.png" height="800" width="600">';
                            }
                        }
                    }
                );
            }, 1000 * 1 /* 1 second */)
        }
        function logic(_) {
            fetch('scan', {method: 'POST'}).then(
                (raw) => {
                   return raw.json();
                }
            ).then(
                (data) => {
                   if (!data.declined) {
                        alert('Server has just received a new scan job!');
                        console.log('Server has just received a scan job!');
                        const el = getButton();
                        el.disabled = true;
                        el.textContent = 'Server has just received a scan job, so please wait patiently untill the preview image appeared. ';
                        checkForCurrentlyRunningScanJobStatus();
                   } else {
                        alert('Server has declined a new scan job request because there is already running one. Please try again later....');
                   }
                }
            )
        }
        </script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div id="preview-box" class="col">
                    <h1 class="">InSane is working!</h1>
                </div>
                <div class="col">
                    <p class="">
                        <ul>
                            <li>1. Press <bold>Scan</bold> button on the printer</li>
                            <li>2. Also, on the printer: 2.1) select <bold>Remote Mode</bold>; 2.2) press <bold>Ok</bold> button</li>
                            <li>3. Make sure you've placed the document correctly to achieve better results</li>
                            <li>4. Press Start a new <bold>Start a new Scan Job button</bold> on the web page</li>
                            <li>After successfull scan, you will see a preview image (full size) right at the left side of the web page!</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col is-center">
                    <button id="start-a-scan-job-button" onclick="logic()" class="is-full-width button primary">Start a new Scan Job</button>
                </div>
            </div>
        </div>
        <script>
            var initialButtonTextContent = getButton().textContent;
            if ({{scaner_is_busy}}) {
                const el = getButton()
                el.disabled = true;
                el.textContent = 'Unable to place job request currently, server is busy. Please refresh web page and try again after a while'
            }
        </script>
    </body>
</html>
